.top {
    height: 576px;
    width: 1440px;
    background-color: #F0FFF0;
    width: 100%;
    padding-top: 15px;
}

.logo {
    height: 59px;
    width: 198.07142639160156px;
    left: 212px;
    top: 30px;
    border-radius: 0px;
}

.container {
    padding-bottom: 100px;
}

.sign-in {
    border-radius: 20px;
    width: 80px;
    text-align: center;
    background-color: rgb(60, 163, 60);
    color: white;
    font-weight: bold;
}

.learn {
    margin-top: 50px;
}

.learn img {
    height: 70%;
}

.get-started {
    border-radius: 20px;
    width: 120px;
    text-align: center;
    background-color: rgb(60, 163, 60);
    color: white;
    font-weight: bold;
    height: 40px;
}

.icon {
    text-align: center;
    /* margin-top: 50px; */
    /* width: 870px; */
}

.icon img {
    height: 85px;
    width: 66px;
}

.box {
    box-shadow: 5px 5px 10px gray;
    padding-top: 10px;
    height: 250px;
    border-radius: 10px;
    background-color: #F0FFF0;
    width: 270px !important;
}

.box:hover {
    background-color: white;
    width: 370px !important;
}

.row-2 {
    margin-top: 30px!important;
}

.card img {
    width: 90%;
    margin: 5%;
    border-radius: 20px !important;
}

.card {
    border-radius: 45px !important;
}

.calender img {
    width: 28px;
    height: 28px;
    display: flex;
    margin-top: 0;
}

.people img {
    width: 28px;
    height: 28px;
    display: flex;
    margin-top: 0;
}

.calender {
    display: flex;
}

.people {
    display: flex;
}

.picture text {
    display: flex;
}

.display img {
    width: 220px;
    height: 220px;
    margin-left: 20%;
    margin-right: 0 !important;
}

.row {
    margin-top: 55px !important;
}

.display {
    margin-left: 80px !important;
}

.footer {
    background-color: rgb(29, 27, 27);
    color: #F0FFF0;
    /* width: 100% !important; */
    height: 500px;
    padding-top: 100px;
    text-align: center;
    /* margin-right: 0 !important; */
}

.footer-down {
    margin-top: 10px!important;
}


/* .down {
    margin-right: 0 !important;
} */

body {
    overflow-x: hidden;
}